@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-img {
  position: relative;
  width: 90%;
  height: 600px;
  background: url("https://znews-photo.zingcdn.me/w660/Uploaded/qfssu/2022_09_21/121578577_2684859088403851_6321642611131446107_n_1.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 27px;
  overflow: hidden;
}

#bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #ffffff, #000000);
  background-image: linear-gradient(to bottom right, #57606f, #d3d3d3);
  background-image: linear-gradient(to bottom right, #dff9fb, #000000);
  opacity: 0.6;
}
